apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  selector:
    app: flask-app 
  type: LoadBalancer # Exposes the service externally
  ports:
    - protocol: TCP
      port: 80       # Port accessible to the user (browser)
      targetPort: 5001 # Port the container is listening on